@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Outfit', sans-serif;
  background-color: #F3F4F6;
  color: #111827;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1E1E24;
}

::-webkit-scrollbar-thumb {
  background: #2B2B36;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00C896;
}